.users-panel {
  margin-bottom: 40px;
}

.users-panel__wrapper {
  display: flex;
  flex-direction: column;
}

.users-panel__list {
  display: grid;
  margin-bottom: 25px;
}
.users-panel__item {
  display: grid;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid black;

  grid-template-columns: repeat(8, 1fr);
  justify-items: center;

  &:first-child {
    border-bottom: 2px solid black;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.users-panel__column-title {
  display: block;

  color: #1f1e25;
  text-decoration: none;

  &:first-child {
    grid-column: 2/3;
  }

  &:not(&--image):hover {
    font-weight: 500;
  }
  &:not(&--image):active {
    opacity: 0.5;
  }

  &--active {
    font-weight: 700;

    cursor: default;

    pointer-events: none;
  }
}

.users-panel__user-content {
  margin: 0;
}

.users-panel__download-wrapper {
  justify-self: center;
}

.users-panel__edit-wrapper {
  justify-self: end;
}
