.users-panel {
  margin-bottom: 40px;
}

.users-panel__wrapper {
  display: flex;
  flex-direction: column;
}

.users-panel__list {
  display: grid;
  margin-bottom: 25px;
}
.users-panel__item {
  display: grid;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid black;

  grid-template-columns: repeat(8, 1fr);
  justify-items: center;

  &:first-child {
    border-bottom: 2px solid black;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.users-panel__column-title {
  &:first-child {
    grid-column: 2/3;
  }

  &:not(&--image):hover {
    font-weight: 500;
    color: #0044ff;

    opacity: 0.8;
  }
  &:not(&--image):active {
    opacity: 0.5;
  }

  &--active {
    font-weight: 700;
    color: black;

    cursor: default;

    pointer-events: none;
  }
}

.users-panel__user-content {
  margin: 0;
}

.users-panel__download-wrapper {
  position: relative;

  justify-self: center;
}

.users-panel__download-link {
  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -15px;

    width: 28px;
    height: 28px;

    background-color: transparent;
    background-image: url('../../assets/img/download.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    opacity: 0.8;
  }
}

.users-panel__edit-wrapper {
  justify-self: end;
}

.users-panel__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
